#countries {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

#countryDetails img {
	text-align: center;
	width: 500px;
}

.country {
	border: 1px solid goldenrod;
	border-radius: 20px;
	padding: 40px;
	width: 300px;
	text-align: center;
}

.countryName {
	font-size: 30px;
	color: darkmagenta;
}

.countryCapital {
	font-size: 15px;
	color: crimson;
}
