@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
	background-color: #e7e0c9;
	color: #11324d;
	font-family: 'Noto Sans JP', sans-serif;
	text-align: justify;
}

h3,
h5 {
	font-size: 30px;
	font-weight: bold;
}

p {
	text-align: justify;
}

.card {
	cursor: pointer;
}

.card:hover {
	cursor: pointer;
	background-color: tan;
	border-radius: 20px;
}

.card-img-top:hover {
	border-radius: 20px;
}
