@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
	background-color: #e7e0c9;
	color: #11324d;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
	color: #11324d;
}
.navbar-light .navbar-brand {
	color: #11324d;
}
